@import url(../../Styles/_variables.scss);

.navBar-container {
  .navBar-wrapper {
    display: flex;
    gap: 1.5rem;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
  }

  .base-logo {
    position: absolute;
    left: 58px;
    top: 21px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 12px;
        font-weight: 400;
        .sub-title {
            color: var(--title_text_color);
        }
    }
  }
}
