@import url(./_variables.scss);

body {
  margin: 0px;
  padding: 0px;
  background: var(--base_color);
  color: var(--base_text_color);
  font-family: var(--base_font_family);
}

ul {
  padding: 0;
  & li {
    list-style: none;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: var(--base_text_color);
}

button {
  border: none;
  font-family: var(--base_font_family);
  cursor: pointer;
}

input {
  outline: none;
  width: 426px;
  height: 50px;
  font-size: 16px;
  background: var(--input_background_color);
  font-family: var(--base_font_family);
  padding-left: 1rem;
  border: 1px solid var(--input_border_color);
  color: var(--input-text-color);
  border-radius: 4px;
}

input:focus {
  border: 1px solid var(--input_focus_color);
}

input::placeholder {
  font-size: 16px;
  color: var(--input_text_color);
  font-family: var(--base_font_family);
}
