:root {
  --base_color: #070707;
  --base_text_color: #ffffff;
  --about_text_color: #c0c0c0;
  --button_color: #009759;
  --title_text_color: #a5a5a5;
  --base_font_family: "Roboto";
  --menu_background_color:#948b8bf5;
}
