@import url(../../Styles/_variables.scss);

.dashBord-container {
  margin: auto;
  width: 1440px;
  height: 100vh;

  .image-wrapper {
    position: relative;
    top: 10%;

    .background-img {
      position: absolute;
      top: 0;
      z-index: 1;

      .logo-wrapper {
        position: inherit;
        left: 58px;
        top: 21px;
        z-index: 1000;
        .base-logo {
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .title {
          font-size: 12px;
          font-weight: 400;
          .sub-title {
            color: var(--title_text_color);
          }
        }
      }
    }

    .base-img {
      position: absolute;
      left: 379.43px;
      top: 1.14px;
      .navBar-header {
        position: inherit;
        z-index: 1000;
        right: 48px;
        top: 16px;
      }
      .navBar-footer {
        position: inherit;
        left: 18%;
        padding: 2rem 0rem;
      }
    }

    .content-wrapper {
      position: absolute;
      z-index: 10000;
      top: 105px;
      left: 148px;
      .heading {
        width: 374px;
        height: 154px;
        font-weight: 700;
        font-size: 40px;
        line-height: 72px;
      }
      .about-text {
        width: 484px;
        height: 53px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--about_text_color);
      }
      .register-btn {
        margin: 1.5rem 0rem;

        & button {
          padding: 1rem 4.5rem;
          background: var(--button_color);
          color: var(--base_text_color);
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          border-radius: 4px;
        }
      }
    }
  }
}
